.item {
  width: max-content;
  border-left: 1px solid #282828;
  color: #282828;
  text-transform: uppercase;
  padding: 0 24px;
  font-size: 20px;
  line-height: 20px;
}

.item:first-child {
  border: none;
  transition: all .2s;
}

.item:first-child:active {
  scale: 1.2;
}